*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    color: #444;
    background: #ffe7e3;
    text-align: center;
}

.love{
    padding-top: 25%;
}

.love span{
    color: #fc9786;
}